@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url('img/bg-intro-mobile.png');
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    color: hsl(0, 0%, 100%);
}

.container {
    padding: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
}

.col-md-6 {
    text-align: center;
    padding-top: 3.5rem;
}

h1 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 1.5rem;
}

button {
    width: 100%;
    color: hsl(0, 0%, 100%);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;
}

.btn-primary {
    background: hsl(248, 32%, 49%);
    padding: 20px 76px;
    box-shadow: 0 10px rgb(18 26 35 / 13%);
    border-radius: 10px;
}

.btn-success {
    background-color: hsl(154, 59%, 51%);
    padding: 14px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 -5px rgb(18 26 35 / 13%) inset;
}

button span {
    font-weight: 700;
}

.card {
    background: hsl(0, 0%, 100%);
    margin-top: 1.4rem;
    padding: 1.4rem;
    border-radius: 10px;
}

.card p {
    color: hsl(246, 25%, 77%);
    font-size: 11px;
    padding: 10px 16px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.5rem !important;
}

input {
    border-color: #ced4da;
    box-shadow: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    /* color: hsl(249, 10%, 26%); */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    padding: 16px 24px;
    width: 100%;
}

.text-danger {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

@media (min-width: 576px) {
    .container {
        padding: 2rem 5rem;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 2rem 10rem;
    }
}

@media (min-width: 992px) {
    body {
        background-image: url('img/bg-intro-desktop.png');
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 10rem;
    }

    .row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .col-md-6 {
        flex-basis: 48%;
        padding-top: 0;
    }

    .col-md-6:nth-child(1) {
        text-align: left;
    }

    h1 {
        font-weight: 700;
        font-size: 54px;
        margin-bottom: 2rem;
        line-height: 3.5rem;
    }

    p {
        font-size: 18px;
    }

    .card p {
        font-size: 12px;
    }

    input {
        padding: 16px 36px;
    }
}